h2{
    color:red
}
@media (max-width:600px){
    h2{
        color: purple;
    }
}
.navigation{
    display: flex;
justify-content: space-around;
align-items: center;
    background-color: red;
}
#navs{
    color: white;
}
.menu_Item{
    display:flex;
    gap:10px;
}